<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto Saude</title>
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body id="agendamento" >
	<div id="cabecalho">
		<div id="area-logo">
			<h1 class="logo">
				<a href="start">saúde</a>
			</h1>
		</div>
		<div id="area-menu">
			<ul>
				<li>
					<a href="agendamento">Agendamento</a> |
				</li>
				<li>
					<a href="historico">Histórico</a> |
				</li>
				<li>
					<a href="sobre-nos">Sobre Nós</a>
				</li>
			</ul>
		</div>

		<div id="area-login">
			<ul>
				<li>
					<a href="start">Deslogar</a>
				</li>
				<div class="limpar"></div>
			</ul>
		</div>

		<div class="limpar"></div>
	</div>

	<div id="conteudo">
		<div id="bloco">
			<form method="post" action="/cadastrarAgendamento">
				<div>
					<label>Medico</label>
					<input type="text" name="medico">
					<label>Data</label>
					<input type="date" name="data">
					<label>Hora</label>
					<input type="time" name="hora">
				</div>
				<div class="botao">
					<input type="submit" name=""> 	
				</div>
				
			</form>
		</div>
	</div>

	<div id="rodape">
		rodape
	</div>
</body>
</html>