<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto Saude</title>
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body #index>
	<div id="cabecalho">
		<div id="area-logo">
			<h1 class="logo">
				<a href="start">saúde</a>
			</h1>
		</div>
		<div id="area-menu">
			<ul>
				<li>
					<a href="agendamento">Agendamento</a> |
				</li>
				<li>
					<a href="historico">Histórico</a> |
				</li>
				<li>
					<a href="sobre-nos">Sobre Nós</a>
				</li>
			</ul>
		</div>

		<div id="area-login">
			<ul>
				<li>
					<a href="start">Deslogar</a>
				</li>
				<div class="limpar"></div>
			</ul>
		</div>

		<div class="limpar"></div>
	</div>

	<div id="conteudo">
		<div id="bloco">
			<img src="imagens/medico.jpg">
			<h2>Sobre Nos</h2>
			<p>Clínica médica de excelência, onde especialistas de diversas áreas se unem para oferecer cuidados abrangentes e personalizados aos pacientes. Com um time de profissionais apaixonados, a clínica prioriza não apenas o tratamento de doenças, mas também a promoção de um estilo de vida saudável e a educação preventiva. É um espaço onde cada paciente é ouvido, compreendido e cuidado, garantindo conforto, apoio e o melhor atendimento médico possível em todas as situações de saúde. </p>
		</div>
	</div>

	<div id="rodape">
		rodape
	</div>
</body>
</html>