<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto Saude</title>
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	
</head>
<body id="prontuario">
	<div id="cabecalho">
		<div id="area-logo">
			<h1 class="logo">
				<a href="menu-funcionario.html">saúde</a>
			</h1>
		</div>
		<div id="area-menu">
			<ul>
				<li>
					<a href="prontuario.html">Prontuario</a> |
				</li>
				<li>
					<a href="atestado.html">Atestado</a> |
				</li>
				<li>
					<a href="receita.html">Receita</a> |
				</li>
				<li>
					<a href="Horario.html">Horario</a>
				</li>
			</ul>
		</div>

		<div id="area-login">
			<ul>
				<li>
					<a href="index.html">Deslogar</a>
				</li>
				<div class="limpar"></div>
			</ul>
		</div>

		<div class="limpar"></div>
	</div>

	<div id="conteudo">
		<div id="bloco">
			<form id="escrita-prontuario" method="post" action="/cadastrarProntuario">
				<input type="text" name="Paciente" placeholder="CPF">
				<textarea name="texto"></textarea>
				<input type="submit" name="prontuario">
			</form>
			

			<div id="area-botao">
				<button id="botaoAtestado">atestado</button>
				<button id="botaoReceita">receita</button>
			</div>
		</div>
	</div>

    <div id="popupAtestado" class="popup">
        <div class="conteudo-popup">
            <h3>Gerar Atestado</h3>
            <form id="formulario-atestado" method="post" action="/cadastrarAtestado">
            	<fieldset>
            		<label for="numDias">Dias:</label>
            		<input type="text" id="numDias" name="numDias">
            	</fieldset>
            	<fieldset>
            		<label>Nome:</label>
            		<input type="text" name="nome">
            	</fieldset>
            	<fieldset>
            		<label>Instituição:</label>
            		<input type="radio" name="instituicao" id="laboral" value="laboral">
            		<label for="laboral">Laboral</label>
            		<input type="radio" name="instituicao" id="estudantil" title="estudantil">
            		<label for="estudantil">Estudantil</label>
            	</fieldset>
            	<fieldset>
            		<label>Data do Atestado:</label>
            		<input type="date" name="data">
            	</fieldset>
            	<input type="submit" id="enviarAtestado" name="enviarAtestado">
            </form>
            <button id="fecharPopupAtestado">
                  Fechar
            </button>
        </div>
    </div>

    <div id="popupReceita" class="popup">
        <div class="conteudo-popup">
            <h3>Gerar Receita</h3>
            <form id="formulario-receita" method="post" action="/cadastrarReceita">
            	<fieldset>
            		<label for="remedio">Remedio:</label>
            		<input type="text" id="remedio" name="remedio">
            	</fieldset>
            	<fieldset>
            		<label>Nome:</label>
            		<input type="text" value="<%= paciente.nome %>" name="nomeReceita">
            	</fieldset>
            	<fieldset>
            		<label>Dose:</label>
            		<input type="text" name="dose">
            	</fieldset>
            	<fieldset>
            		<label>Horario:</label>
            		<input type="text" name="horario">
            	</fieldset>
            	<input type="submit" id="enviarReceita" name="enviarReceita">
            </form>
            <button id="fecharPopupReceita">
                  Fechar
            </button>
        </div>
    </div>
	

	<div id="rodape">
		rodape
	</div>

	<script>
        botaoAtestado.addEventListener("click", function () {
            popupAtestado.classList.add("show");
        });
        fecharPopupAtestado.addEventListener("click", function () {
            popupAtestado.classList.remove("show");
        });


        botaoReceita.addEventListener("click", function () {
            popupReceita.classList.add("show");
        });
        fecharPopupReceita.addEventListener("click", function () {
            popupReceita.classList.remove("show");
        });
    </script>
</body>
</html>