<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto Saude</title>
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body id="sobre-nos">
	<div id="cabecalho">
		<div id="area-logo">
			<h1 class="logo">
				<a href="start">saúde</a>
			</h1>
		</div>
		<div id="area-menu">
			<ul>
				<li>
					<a href="loginPaciente">Agendamento</a> |
				</li>
				<li>
					<a href="loginPaciente">Histórico</a> |
				</li>
				<li>
					<a href="sobre-nos">Sobre Nós</a>
				</li>
			</ul>
		</div>

		<div id="area-login">
			<ul>
				<li>
					<a href="loginFuncionario">Login Funcionario</a>
				</li>
				<div class="limpar"></div>
				<li>
					<a href="loginPaciente">Login Paciente</a>
				</li>
			</ul>
		</div>

		<div class="limpar"></div>
	</div>

	<div id="conteudo">
		<div id="bloco">
			<img src="imagens/medico.jpg">
			<h2>Sobre Nos</h2>
			<p>Num mundo em constante busca por cuidados de saúde de qualidade, as clínicas médicas tornaram-se faróis de esperança. Nossa clínica é um exemplo brilhante dessa tendência, oferecendo um santuário onde diversos médicos de áreas distintas se unem em prol do bem-estar dos pacientes.

Nossa equipe é como uma sinfonia harmoniosa, composta por especialistas em diversas áreas da medicina: desde cardiologistas apaixonados pela saúde do coração até pediatras carinhosos que cuidam dos pequeninos com dedicação sem igual. Com uma gama diversificada de profissionais, buscamos fornecer cuidados abrangentes e personalizados para atender às necessidades individuais de cada paciente.

Aqui, cada consulta é uma oportunidade de criar laços e construir confiança. Nosso objetivo vai além do tratamento de doenças; buscamos promover um estilo de vida saudável e educar nossos pacientes sobre a importância da prevenção.

Nossa clínica é mais do que um espaço médico; é um refúgio de cuidado, compreensão e esperança. Juntos, médicos de diferentes especialidades unem forças para oferecer o melhor cuidado possível, garantindo que cada indivíduo que entra pela nossa porta se sinta ouvido, compreendido e, o mais importante, cuidado.

Seja para uma simples consulta de rotina ou para lidar com questões mais complexas de saúde, estamos aqui para caminhar ao lado de nossos pacientes, trazendo conforto, apoio e o melhor atendimento médico possível. </p>
		</div>
	</div>

	<div id="rodape">
		rodape
	</div>
</body>
</html>